.user{
  margin-left: auto;
  margin-right: 0;
  display: table;
  padding: 47px 31px 0 33px;
  width: calc(100% - 64px);

  &_row {
    border-bottom: 1px solid #DDD;
    display: block;
    height: 25px;
    padding-top: 15px;
    width: 100%;
  }

  &_cell {
    color: #555;
    display: table-cell;
    font-size: 12px;
    vertical-align: center;
  }

  &_cell.-bold {
    color: #111;
    font-weight: bold;
    width: 95px;
    text-align: left;
  }
}
