
.user_list {
  background-color: #FFF;
  min-height: 300px;
  flex: 1;
  display: flex;
  justify-content: center;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
