

$_MODAL-TITLE-HEIGHT: 55px;
$_MODAL_FOOTER-HEIGHT: 71px;

$_MODAL_ANIMATION_DURATION: 200ms;
$_DRAWER_ANIMATION_DURATION: 350ms;
$_OVERLAY_ANIMATION_DURATION: 240ms;
$_EASING_DECELERATION: cubic-bezier(0, 0, 0.2, 1);
$_EASING_ACCELERATION: cubic-bezier(0.4, 0, 1, 1);

.drawer {
  background-color: #FFF;
  box-shadow: -1px 0 12px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 95;
  width: 500px;

  .modalFooter {
    box-sizing: border-box;
    padding: 15px 0 0 30px;
  }



  &#export-metadata-to-xmp {
    width: 800px;
  }

  &#export-metadata-to-csv {
    width: 500px;
  }

  .modal-title-bar {
    background-color: #DDD;
    border-radius: 0;
    color: #000;
    height: $_MODAL-TITLE-HEIGHT;
    padding: 0 30px;
  }

  //CSS Transition styles for the drawer & modal background
  &.slideInFromRight-enter,
  &.slideInFromRight-enter-active {
    transition: transform $_DRAWER_ANIMATION_DURATION $_EASING_DECELERATION;

    & + .modal-bkg {
      transition: opacity $_OVERLAY_ANIMATION_DURATION $_EASING_DECELERATION;
    }
  }

  &.slideInFromRight-exit,
  &.slideInFromRight-exit-active {
    transition: transform $_DRAWER_ANIMATION_DURATION $_EASING_ACCELERATION;

    & + .modal-bkg {
      transition: opacity $_OVERLAY_ANIMATION_DURATION $_EASING_ACCELERATION;
    }
  }

  &.slideInFromRight-enter {
    transform: translateX(100%);

    & + .modal-bkg {
      opacity: 0;
    }
  }

  &.slideInFromRight-enter-active {
    transform: translateX(0%);

    & + .modal-bkg {
      opacity: 1;
    }
  }

  &.slideInFromRight-exit {
    transform: translateX(0%);

    & + .modal-bkg {
      opacity: 1;
    }
  }

  &.slideInFromRight-exit-active {
    transform: translateX(100%);

    & + .modal-bkg {
      opacity: 0;
    }
  }

  & + .modal-bkg {
    cursor: pointer;
  }

  &.drawer_create-watermark {
    .modalFooter-watermark-customize {
      padding: 20px;
    }
  }
}

@mixin drawerBody {
  height: calc(100% - 132px);
  min-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: calc(100% - 9px);

  /* width */
  &::-webkit-scrollbar {
    background-color: #F7F7F7;
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #FFF;
    width: 18px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #BBB;
    border: 16px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 18px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #AAA;
  }
}
.modal-bkg {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: block;
  left: 0;
  padding: 100px 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 90;

  &-fullScreen {
    padding: 10px;
  }

  &-maxZIndex {
    z-index: 999;
  }

  .modal {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-height: 100%;
    max-width: 600px;
    min-width: 300px;

    &-fullScreen {
      max-width: 100%;
      min-height: 100%;
      width: 100%;
    }
  }

  &.isHidden {
    display: none;
  }

  &.isVisible {
    display: block;
  }
}

